<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
          {% for social_site_hash in site.social_links %}
          {% for social_site in social_site_hash %}
          {% assign url={{social_site[1]}} %}
          {% assign key={{social_site[0] | downcase | replace:' ',''}}%}
          {% assign name={{social_site[0]}%}

          {% include icon.html key=key url=url name=name%}
          
          {% endfor %}
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
