---
layout: default
---

<div class="home">

<div style="float:left;margin-bottom:1em">
<img alt="Bastien Jacquet" src="{{ site.url }}/assets/images/20160104-BastienJacquet-BW.jpg" border="0" width="170" height="">
</div>
<h2 style="clear:left">About Me</h2>
<p>In January 2016, I started the Computer Vision group at <a href="https://www.kitware.eu/">Kitware Europe</a>. 
Kitware is a <a href="http://www.kitware.com/opensource/opensource.html">leader</a> in the creation and support of open-source software and state of the art technology.<br />
Our Computer Vision publishes opensource code under the <a href="http://www.kwiver.org/">KWIVER</a> repository.<br>
The reconstruction code I contributed to is <a href="https://github.com/Kitware/maptk">Motion-imagery Aerial Photogrammetry Toolkit (MAP-TK)</a>.
<p>
Between 2011 and 2016, I have been a Ph.D. student  
in the <a href="http://cvg.ethz.ch/" class='discreteLink'>Computer Vision & Geometry Group</a> 
of the  <a href="http://ivc.ethz.ch/" class='discreteLink'>Institute of Visual Computing </a> 
at the  <a href="http://www.ethz.ch/" class='discreteLink'>Swiss Federal Institute of Technology Zürich (ETH)</a> under supervision of <a href="http://www.inf.ethz.ch/personal/pomarc/">Prof. Marc Pollefeys</a>.
 <br />I was also regularly visiting the <a  href="http://www.di.ens.fr/willow/">Willow Group</a> from <a href="http://www.di.ens.fr/~ponce/">Prof. Jean Ponce</a> at INRIA Paris, France.
</p>
<p>
In 2010, I received two 'dipl&ocirc;mes d’Ing&eacute;nieur' <a href="http://www.aacrao.org/connect_article/13-05-14/New_information_warrants_change_in_French_placement_recommendations.aspx#.UjnJanjDTj4"   class='discreteLink' >(equivalent to MSc)</a> from <a href="http://www.polytechnique.edu/?LANGUE=1"  style='color:#000000'>&Eacute;cole Polytechnique</a> and <a href="http://www.enpc.fr/"  style='color:#000000'> &Eacute;cole des Ponts et Chaussées</a> 
while obtaining in parallel a Master of Science in Computer Science with major <a href="http://www.math.ens-cachan.fr/version-francaise/formations/master-mva/" >Mathematics, Computer Vision and Machine Learning (MVA)</a> 
from <a href="http://www.ens-cachan.fr/version-anglaise/"  style='color:#000000'>ENS Cachan</a>.</p>
<h3 style="clear:left">Research interests</h3>
<p>
I am generally interested in enabling computers to understand the world through pictures or videos.<br />
</p>
<h3 style="clear:left">Job Offers</h3>
<p>
I am actively recruiting for our Computer Vision Team based in Lyon, France. <a href="http://www.kitware.fr/fr/societe/recrutement" >Just apply !</a>
Ideally you would already have some knowledge in computer vision and be familiar with coding in C++ and/or VTK. <br />
I will happily discuss with you about current options: just contact me by <a href="mailto:bastien.jacquet_ethz%40m4x.org?subject=[Kitware Application]">email</a>. 
</p>
</div>
